<template>
    
    <require from="attributes/semantic-dropdown"></require>
    
    <div class="ui fluid right action input">           
        <input type="text" placeholder="Summoner name" value.bind="summonerName">
                    
        <div class="ui compact selection dropdown" semantic-dropdown>
            <input type="hidden" value.bind="selectedRegionShortName" name="gender">
            <i class="dropdown icon"></i>
            <div class="text">${selectedRegionShortName}</div>
            <div class="menu">
                <div repeat.for="region of regions" 
                     class="item" 
                     data-value.bind="region.shortName">
                    ${region.shortName}
                </div>
            </div>
        </div>
        
        <div class="ui icon button" click.delegate="addSummoner()">
            <i class="add user icon"></i>
        </div>        
    </div>
    
</template>