<template>
    <div class="ui secondary pointing menu">
        
        <div class="header item">${router.title}</div>
                
        <a repeat.for="row of router.navigation" 
           class="${row.isActive ? 'active' : ''} item" 
           href.bind="row.href">
            ${row.title}
        </a>
        
        <div class="right menu">
            <a class="item ${router.currentInstruction.config.name == 'logout' ? 'active' : ''}" 
               href="/#/logout"
               if.bind="isLoggedIn">
               Logout
            </a>
            
            <a class="item ${router.currentInstruction.config.name == 'login' ? 'active' : ''}" 
               href="/#/login"
               if.bind="!isLoggedIn">
               Login
            </a>
        </div>
        
    </div>
</template>